body {
  font-family: Monaco, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
}

input {
  font-family: Monaco, Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: black;
  color: white;
  border: none;
  padding-left: 18px;
}

input:focus {
  outline-width: 0;
}
