body {
    font-family: Monaco, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    background-color: black;
}

input {
    font-family: Monaco, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
}

input:focus {
    outline-width: 0;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
